<%= form_with(model: set_card, local: true) do |form| %>
  <% if set_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(set_card.errors.count, "error") %> prohibited this set_card from being saved:</h2>

      <ul>
        <% set_card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <label for=""> Tên bộ thẻ: </label>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-primary"%>
  </div>
<% end %>


