<div class="container-fluid" style="height:200px">
    <h2><%= @set_card.title %></h2>
    <div class="set_card_container container">
        <div id="myCarousel" class="carousel " data-ride="carousel">
            <div class="flask_cards carousel-inner" role="listbox">
                <% @set_card.flask_cards.each_with_index do |flask_card, index| %>
                    <%= render 'flask_cards/card', flask_card: flask_card, index: index %>
                <% end %>
            </div>
            <div class="prev" href="#myCarousel" role="button" data-slide="prev" >
                <img src="https://img.icons8.com/nolan/96/000000/double-left.png">
            </div>
            <div class="next" href="#myCarousel" role="button" data-slide="next">
                <img src="https://img.icons8.com/nolan/96/000000/double-right.png">
            </div>
        </div>
    <div>
</div>

<%# modal %>

<div class="add container">
    <button type="button" class="btn-lg btn btn-primary" data-toggle="modal" data-target="#myModal">Tạo thẻ mới</button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tạo thẻ mới</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <%= render 'flask_cards/form' %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            
        </div>
    </div>
</div>
<%# modal %>

<%# <%= link_to 'Back', set_cards_path %>  
<p class="back-button"><i class="fas fa-backward"></i><%= link_to "Back", set_cards_path %></p>
<p style="margin-bottom: 200px"></p>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script >
  $('.carousel').carousel({
    interval: false
  });
</script>