<p id="notice"><%= notice %></p>

<p>
  <strong>Cachvietabc:</strong>
  <%= @hiragana.cachviet %>
</p>

<p>
  <strong>Cachdoc:</strong>
  <%= @hiragana.cachdoc %>
</p>


<%= link_to 'Edit', edit_hiragana_path(@hiragana) %> |
<%= link_to 'Back', hiraganas_path %>
