<% provide(:title, 'New Story') %>
<h1>Sign up </h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3 signup">
        <%= form_for(@stories) do |f| %>

            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control' %>

            <%= f.label :content %>
            <%= f.text_field :content, class: 'form-control' %>

            <%= f.label :translate %>
            <%= f.text_field :translate, class: 'form-control' %>

            <%= f.submit "Post", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>