<% if index == 0 %>
<div class="flask_card item active <%= index%>" >  
  <div class="flask_card_body">
    <div class="cach_viet">
      <strong>
        <%= flask_card.cach_viet %>
      </strong>
    </div>
    <div class="cach_doc">
      <strong>
        <%= flask_card.cach_doc %>
      </strong>
    </div>
    <span> / </span>
    <div class="nghia">
      <strong>
        <%= flask_card.nghia %>
      </strong> 
    </div>
  </div>
  <div class="flask_card_footer">
    <div class="trash_icon">
      <%= link_to 'xóa', [flask_card.set_card, flask_card],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>

<% else %>
<div class="flask_card item <%= index%>" >  
  <div class="flask_card_body">
    <div class="cach_viet">
      <strong>
        <%= flask_card.cach_viet %>
      </strong>
    </div>
    <div class="cach_doc">
      <strong>
        <%= flask_card.cach_doc %>
      </strong>
    </div>
    <span> / </span>
    <div class="nghia">
      <strong>
        <%= flask_card.nghia %>
      </strong> 
    </div>
  </div>
  <div class="flask_card_footer">
    <div class="trash_icon">
      <%= link_to 'xóa', [flask_card.set_card, flask_card],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>

<% end %>