<div value = "<%= t.correct_answer%>" class="testcard" >
    <div class="question"><%= t.question %></div>
    <div class="answer">
        <input type="button" value = "<%= t.answer_a%>" class="btn btn-info" >

        <input type="button" value = "<%= t.answer_b%>" class="btn btn-info">
         
        <input type="button" value = "<%= t.answer_c%>" class="btn btn-info" >
           
        <input type="button" value = "<%= t.answer_d%>" class="btn btn-info" >
        
    </div>
</div>